html {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #595959;
}

.highlight {
  background: #f7f7f7;
}

.highlight pre {
  padding: 1rem 2rem;
}

.highlight code {
  padding-top: 0.75436rem;
  padding-bottom: 0.24564rem;
  font-size: 0.9230769231rem;
  line-height: 2rem;
  display: block;
  padding-right: 0;
  padding-left: 0;
  background: none;
}

.highlight .cm {
  color: #998;
  font-style: italic;
}

.highlight .cp {
  color: #999;
}

.highlight .c1 {
  color: #998;
  font-style: italic;
}

.highlight .cs {
  color: #999;
  font-style: italic;
}

.highlight .c,
.highlight .cd {
  color: #998;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #f8427f;
  background-color: #fdd;
}

.highlight .ge {
  color: #f8427f;
  font-style: italic;
}

.highlight .gr {
  color: #a00;
}

.highlight .gh {
  color: #999;
}

.highlight .gi {
  color: #f8427f;
  background-color: #dfd;
}

.highlight .go {
  color: #888;
}

.highlight .gp {
  color: #555;
}

.highlight .gu {
  color: #aaa;
}

.highlight .gt {
  color: #a00;
}

.highlight .kc {
  color: #f8427f;
}

.highlight .kd {
  color: #f8427f;
}

.highlight .kn {
  color: #f8427f;
}

.highlight .kp {
  color: #f8427f;
}

.highlight .kr {
  color: #f8427f;
}

.highlight .kt {
  color: #458;
}

.highlight .k,
.highlight .kv {
  font-weight: 700;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #f8427f;
}

.highlight .ss {
  color: #990073;
}

.highlight .s {
  color: #f8427f;
}

.highlight .na {
  font-weight: 700;
}

.highlight .bp {
  color: #999;
}

.highlight .nc {
  color: #458;
}

.highlight .no {
  color: #f8427f;
}

.highlight .nd {
  color: #3c5d5d;
}

.highlight .ni {
  color: #800080;
}

.highlight .nn {
  color: #555;
}

.highlight .vc {
  color: #f8427f;
}

.highlight .vg {
  color: #f8427f;
}

.highlight .vi {
  color: #f8427f;
}

.highlight .nv {
  color: #f8427f;
}

.highlight .w {
  color: #bbb;
}

.language-bash .highlight .nv {
  color: #999;
}

#home #main-header,
#home #main-footer {
  background: none !important;
}

#home #main-header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#home #main-footer {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width:768px) {
  #home #main-header,
#home #main-footer {
    box-shadow: none;
  }
}
#home #main-header #site-versions {
  margin-top: 0 !important;
  background: none;
}

#home #main-header #site-versions .btn {
  padding-right: 0;
}

#home-background {
  height: 100vh;
  background-color: #f8427f;
}

#home-background video {
  transform: translate3d(calc(50vw - 50%), 0, 0);
}

@media (min-aspect-ratio: 16/9) {
  #home-background video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #home-background video {
    width: auto;
    height: 100%;
  }
}
#doc-aside,
#doc-container .overlay {
  z-index: 5;
}

#doc-container {
  max-width: 58rem;
  margin: 0 auto;
}

#doc-container h1.page-title,
#doc-container h2.rendered,
#doc-container h3.rendered,
#doc-container h4.rendered {
  font-weight: 400;
}

#doc-container h2.rendered {
  margin-top: 4rem;
}

#doc-container h3.rendered,
#doc-container h4.rendered {
  margin-top: 2rem;
}

#doc-container h5.rendered {
  margin-top: 1rem;
}

#doc-container h2 + .highlighter-rouge,
#doc-container h3 + .highlighter-rouge,
#doc-container h4 + .highlighter-rouge,
#doc-container .highlighter-rouge + .highlighter-rouge,
#doc-container p + .highlighter-rouge {
  margin-top: 1rem;
}

#doc-container .highlighter-rouge + .example {
  margin-top: 2rem;
}

#doc-container .doc-anchor {
  display: none;
  left: -2em;
  padding: 0 1em 1em;
}

#doc-container h1:hover .doc-anchor,
#doc-container h2:hover .doc-anchor,
#doc-container h3:hover .doc-anchor,
#doc-container h4:hover .doc-anchor,
#doc-container h5:hover .doc-anchor,
#doc-container h6:hover .doc-anchor {
  display: block;
}

#doc-sub-nav {
  padding-top: 8.5rem;
  opacity: 0.618;
}

#doc-sub-nav:hover {
  opacity: 1;
}

#doc-sub-nav .doc-sub-nav-item:hover {
  color: #fa73a0;
}

#doc-container .grid-example {
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #525252;
}

#doc-container .grid-example [class^=col] {
  margin-bottom: 1rem;
  box-shadow: inset 1px 1px 0 rgba(250, 115, 160, 0.618), inset -1px -1px 0 rgba(250, 115, 160, 0.618);
}

#doc-container .example,
#doc-container .form-example,
#doc-container .background-example {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#doc-container .button-example {
  margin-top: 1rem;
}

#doc-container .background-example {
  display: flex;
  flex-wrap: wrap;
}

#doc-container .background-example > div {
  margin: 0 1rem 1rem 0;
}

#doc-container .background-example > div > div {
  flex: 0 0 auto;
  width: 9rem;
  height: 4rem;
  border: solid 1px #ebebeb;
}

#doc-container .background-example > div > .p6 {
  width: 9rem;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}

#doc-container .button-example > .btn,
#doc-container .button-example > .btn-check,
#doc-container .button-example > .btn-radio,
#doc-container .button-example > .btn-file,
#doc-container .button-example > .btns-x,
#doc-container .button-example > .btns-y,
#doc-container .form-example > .fm,
#doc-container .background-example > div {
  margin-bottom: 1rem;
}

@media (min-width:768px) {
  #doc-aside {
    max-width: 18rem;
    min-width: 16rem;
  }
}
@media (min-width:1200px) {
  #doc-container {
    flex: 58rem 0 0;
    margin: 0 0 0 calc(50% - 9rem - 29rem - 8rem);
  }

  #doc-sub-nav {
    max-width: 100%;
    min-width: 0;
  }

  #doc-sub-nav .nav-items {
    max-width: 16rem;
  }
}
body {
  transition: opacity 0.5s ease;
}

body.changing-theme {
  pointer-events: none;
  opacity: 0;
}

#theme-dropdown .change-theme-trigger {
  font-size: 1.4em;
}

#theme-pannel {
  padding-left: 20rem;
}

/*# sourceMappingURL=site.css.map */
