<meta charset="UTF-8">
<!-- viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<!-- render -->
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<!-- apple app mode -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Luda">
<!-- chrome -->
<meta name="mobile-web-app-capable" content="yes">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#525252">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#525252">
<meta name="application-name" content="Luda">
<!-- apple no tel -->
<meta content="telephone=no" name="format-detection">
<!-- windows phone no tap color -->
<meta name="msapplication-tap-highlight" content="no">